# Various IDEs and Editors
# .vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/
dist-ssr
package-lock.json
*.local

# yarn
yarn.lock

.npmrc

canister_ids.json
npminstall-debug.log
yarn-error.log
